<div align="center"><h3 class="title" >Filter</h3></div>
<div align="center" >
  <div>
<mat-form-field appearance="outline" class="inputfield">
  <mat-label>Search name</mat-label>
  <input  matInput placeholder="Search name" name="email" type="search" [(ngModel)]="serach_query">
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field><br>
<mat-form-field appearance="outline" class="inputfield amount">
  <mat-label>Amount</mat-label>
  <input  matInput placeholder="Amount" name="email" type="search" [(ngModel)]="filter_amount">
</mat-form-field>
<p style="margin-top: -15px; margin-bottom: -10px">
  <mat-form-field  style="margin-top: 10px" appearance="outline" class="inputfield">
    <mat-label>Date</mat-label>
    <input matInput placeholder="Date" [(ngModel)]="create_date" type="date" >
  </mat-form-field>
</p>
<div class="radiobox">
  <mat-radio-group [(ngModel)]="modeID" [ngModelOptions]="{standalone: true}">
    <mat-radio-button class="checkpos" *ngFor="let m of mode_api_results" [value]=m.id>{{m.mode}}</mat-radio-button>
  </mat-radio-group>
</div>
<div align="center">
  <div align="left" style="width: 300px">
    <p class="inline">Sort By Price:</p><p class="inline sorting" (click)="price_sort= '+'">Low-High</p><p class="inline sorting" (click)="price_sort = '-'">High-Low</p><br>
    <p class="inline">Sort By Name:</p><p class="inline sorting" (click)="name_sort = '+'">A-Z</p><p class="inline sorting" (click)="name_sort = '-'">Z-A</p></div></div>
<button (click)="getFilter()" style="margin-top: 10px">Filter</button>
  </div>
</div>
