.title{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #003253;
  height: 30px;
  margin-left: -24px;
  margin-right: -24px;
  margin-top: -30px;
  padding-top: 20px;
  margin-bottom: 20px;
  color: white;
  font-size: medium;
  font-weight: bold;
}
.inputfield{
  width: 95%;
  margin-bottom: -10px;
}
.amount{
  margin-top: -10px;
}
.radiobox{
  line-height: normal;
  margin-top: 10px;
  margin-bottom: 10px;
}
.checkpos{
  margin: 0 5px;
}
.inline{
  display: inline;
  margin-left: 10px;
}
.sorting{
  color: #003253;
  cursor: pointer;
  font-weight: bold;
}
.sorting:hover{
  color: #1295c9;
}
select .sorting {
  color: #DA9403;
}
p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
  color: dimgray;
  margin-bottom: 5px;
}
mat-form-field.mat-form-field {
  font-size: 14px;
}
