<div>
  <div class="feedbackdiv">
    <button mat-button class="feedback" (click)="openFeedback()">Feedback</button>
  </div>
<div class="container" align="center">

  <div>
    <mat-card class="cardl" routerLink="/credithistory">
      <h3 class="title" >Credit History</h3>
      <h1>Credit</h1>
      <img src="/assets/images/logo.png">
    </mat-card>
  </div>
  <div>
    <mat-card class="cardr" routerLink="/debithistory">
      <h3 class="title" >Debit History</h3>
      <h1>Debit</h1>
      <img src="/assets/images/logo.png">
    </mat-card>
  </div>
  <div id="loaderId">
    <img class="loader" src="assets/images/loading.gif" alt="loading" *ngIf="loading">
  </div>
</div>
</div>
