<div align="center" class="container">
  <!--<h2>Flexy Managers</h2>-->
  <div class="inner-container">
    <div id="loginscreenID">
      <mat-card class="card">
        <div align="center">
          <h3 >Login</h3>
          <form [formGroup]="loginForm">
            <div>
              <P>
                <mat-form-field appearance="outline" class="inputfield">
                  <mat-label>Email/Mobile</mat-label>
                  <input  matInput placeholder="Email/Mobile" [(ngModel)]="username" name="email" formControlName="mail" (keyup.enter)="onClick()" >
                  <mat-error *ngIf="mail.invalid">{{getMailError()}}</mat-error>
                  <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
              </P>
              <P>
                <mat-form-field appearance="outline" class="inputfield">
                  <mat-label>Password</mat-label>
                  <input  matInput placeholder="Password" [(ngModel)]="password" name="pass" formControlName="password" [type]="hide ? 'password' : 'text'" (keyup.enter)="onClick()" >
                  <mat-error *ngIf="mail.invalid">{{getPasswordError()}}</mat-error>
                  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                </mat-form-field>
              </P>

              <p class="text"><a routerLink="/forgetpassword">Forgot Password?/ Login With OTP</a></p>
              <div>
                <button mat-button class="button"  (click)="onClick()" type="button" [disabled]="loginForm.invalid">Login</button>
              </div>
            </div>
            <p class="text">Don't have an account?   <a routerLink="/signup">Sign up Now</a></p>
          </form>
        </div>
      </mat-card>
    </div>
    <div id="loaderId">
      <img class="loader" src="assets/images/loading.gif" alt="loading" *ngIf="loading">
    </div>
    <p id="FCMtoken" style="display: none"></p>
  </div>
</div>
<!--Will uncomment it once the api of login with social handles gets done-->
<!--

<h4 style="text-align: center">Or</h4>
&lt;!&ndash;FB button&ndash;&gt;
<div
  class="fb-login-button" style="margin-left: 40%; margin-top: 1%"  data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"
data-scope="public_profile, email" onlogin="window.location='/Facebook/success.jsp'">
</div>

&lt;!&ndash;G+ button&ndash;&gt;
<div style="width: 250px; height: 36px" class="g-signin2" data-onsuccess="onSignIn"></div>
-->

<!--<div>
  <button class="facebookbtn" scope='public_profile, email' onclick="statusChangeCallback()" data-scope="public_profile, email"><i class="fa fa-facebook" style="padding-right: 15px"></i>Sign In with Facebook</button>
  <button class="googlebtn" scope='public_profile, email'><i class="fa fa-google" style="padding-right: 15px"></i>Sign In with Google</button>
</div>-->
