<div align="center">
<h3 class="title" >Post Feedback</h3>
<form [formGroup]="feedForm">
<P>
  <mat-form-field appearance="outline" class="inputfield">
    <mat-label>Name</mat-label>
    <input  matInput placeholder="Name"  [(ngModel)]="feeded_name" [value]="s_name" formControlName="name">
    <mat-icon matSuffix>person</mat-icon>
  </mat-form-field>
</P>
<P>
  <mat-form-field appearance="outline" class="inputfield">
    <mat-label>Mobile</mat-label>
    <input  type="number" matInput placeholder="Mobile"  [(ngModel)]="feeder_contact" [value]="s_mobile" formControlName="mobile">
    <mat-icon matSuffix>phone</mat-icon>
  </mat-form-field>
</P>
<P>
  <mat-form-field appearance="outline" class="inputfield">
    <mat-label>Email</mat-label>
    <input  matInput placeholder="Email"  [(ngModel)]="feeder_mail" [value]="s_email" formControlName="email">
    <mat-icon matSuffix>email</mat-icon>
  </mat-form-field>
</P>
<P>
  <mat-form-field appearance="outline" class="inputfield">
    <mat-label>Feedback</mat-label>
    <textarea  matInput placeholder="Feedback"  class="feeds" formControlName="feeds" [(ngModel)]="feeder_feeds" ></textarea>
  </mat-form-field>
</P>
<div>
  <button mat-button class="button" (click)="onSubmit()" >Submit</button>
</div>
</form>
</div>
