
<mat-icon class="backArrow" (click)="this.location.back()">keyboard_backspace</mat-icon>
<div align="center">
  <div >
    <h2>Flexy Managers</h2>
  </div>
  <div class="border">
    <img src="/assets/images/man.png"  class=" img">
  </div>
  <form [formGroup]="changePassword">
  <mat-card class="card">
    <div class="row">
      <div class="col-xl-8">
        <h3 >Profile</h3>
        <P>
          <mat-form-field appearance="outline" class="inputfield">
            <mat-label>New Password</mat-label>
            <input  matInput placeholder="New Password" [type]="hide ? 'password' : 'text'" [(ngModel)]="new_pass" formControlName="new">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          </mat-form-field>
        </P>
        <P>
          <mat-form-field appearance="outline" class="inputfield">
            <mat-label>Confirm Password</mat-label>
            <input  matInput placeholder="Confirm Password" [type]="hide ? 'password' : 'text'" [(ngModel)]="confirm_pass" formControlName="confirm">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          </mat-form-field>
        </P>
        <div>
          <button mat-button class="button" (click)="onUpdate()" [disabled]="changePassword.invalid">Update</button>
        </div>
      </div>
    </div>
  </mat-card>
  </form>
</div>

