<H2>Outgoing</H2>
<div class="container">
  <div *ngIf="!isData" class="noData" align="center">
    <p>No Data Found<Br>
      Please add post</p>
  </div>
  <div *ngIf="isNetwork" class="noData" align="center">
    <p>Please check your internet connection!</p>
  </div>
  <div *ngIf="isServerError" class="noData" align="center">
    <p>Server Error!</p>
  </div>

  <div class="content" *ngFor="let i of respData">
    <mat-card class="card" >
      <!--<button class="label" ></button>-->
      <div class="div" >
        <h4>Name:<span style="display:inline-block; width: 4px;"></span> {{i.contact.name}}</h4>
        <p class="p"> Amount:<span style="display:inline-block; width: 4px;"></span> <i class="fa fa-inr"></i></p>
        <p class="p salary"> {{i.amount}}</p><br>
        <p class="p">Mode: </p><span style="display:inline-block; width: 4px;"></span>
        <p class="p salary">{{i.mode.mode}}</p><br>
        <!-- <p class="more" >...view more </p>-->
        <p class="p date" >Date:<span style="display:inline-block; width: 4px;"></span>{{dateFormat(i.create_date)}}{{create_date}} </p>
      </div>
    </mat-card>
  </div>
  <div align="center">
    <img class="loader" src="assets/images/loading.gif" alt="loading" *ngIf="loading">
  </div>
  <div class="buttondiv">
    <button mat-fab class="button" (click)="openDialog()"><mat-icon>add</mat-icon></button>
  </div>
</div>
