.inline{
  display: inline;
  margin-left: 10px;
}
.sorting{
  color: #003253;
  cursor: pointer;
  font-weight: bold;
}
.fa{
  display: inline-block;
  font-size: larger;
}
.filter{
  float: right;
  margin-right: 20px;
}
.container{
  width: 100%;
  position: relative;
}
.content{
  float: left;
  width: 100%;
  cursor: pointer;
}
.buttondiv{
  float: right;
  width: 5%;
}
.button{
  position: fixed;
  top: 85%;
  margin-left: -20px;
}
.feedbackdiv{
  float: left;
}
.feedback{
  position: fixed;
  top: 93%;
  background-color: #1295c9;
  color: white;
}
.card{
  width: 60%;
  margin: 10px auto;
  margin-bottom: 15px;
  border-radius: 10px;
}
.card1{
  width: 60%;
  margin: 10px auto;
  margin-bottom: 15px;
  border-radius: 10px;
  padding: 4px;
}
.edit{
  float: right;
  background-color: #1295c9;
  color: white;
  border-radius: 3px;
  border: none;
  height: 25px;
  margin-top: -10px;
  margin-right: -24px;
}
.delete{
  float: right;
  background-color: indianred;
  color: white;
  border-radius: 3px;
  border: none;
  height: 25px;
  margin-top: -20px;
  margin-right: -24px;
}
h2{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.div{width: 80%;
  margin: auto;
}
p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
  color: dimgray;
  margin-bottom: 5px;
}
.comp{
  color: #555;
  font-size: small;
  font-weight: bold;
}
.salary{
  margin-left: 2px;
  margin-right: 10px;
  font-weight: bold;
}
.p{
  display: inline-block;
  margin-top: -1px;
}
.more{
  margin-top: -7px;
  color: #1295c9;
  cursor: pointer;
}
.date{
  font-size: x-small;
  font-style: italic;
  margin-bottom: -15px;
}
h4{
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
  font-style: normal;
  margin-top: -1px;
  margin-bottom: 10px;
  color: #1295c9;
}
.total{
  display: inline-block;
  margin-right: 1px;
  margin-left: 1px;
}
.desc{
  margin-top: -1px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2em;
  height: 2.4em;
}
.social_menu{
  float: right;
  margin-top: -30px;
  margin-right: -25px;
}
ul {
  margin-bottom: 10px;
  margin-left: -15px;
  margin-top: 5px;
}
ul li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;

}
ul li a {
  border: solid 1px #c7c7c7;
  background-color: #003253;
  border-radius: 50px;
  width: 35px;
  height: 28px;
  display: block;
  text-align: center;
  font-size: 17px;
  padding-top: 6px;
}
.loader{
  margin-top: 150px;
  width: 120px;
  height: 80px;
}
.noData{
  font-size: larger;
  margin-top: 15%;
}
.radiobox{
  line-height: normal;
  margin-top: 10px;
  margin-bottom: 10px;
}
.checkpos{
  margin: 0 5px;
}
mat-form-field.mat-form-field {
  font-size: 12px;
}
.inputfield{
  width: 60%;
  margin-bottom: -5px;
}
.slider{
  width: 60%;
}
.searchIcon{
  margin-left: 10px;
}
.addIcon{
  position: fixed;
  width: 100px;
  height: 100px;
  top: 82%;
  margin-left: -42px;
}
.amount{
  margin-top: -10px;
}

@media screen and (max-width: 500px) {
  .button{
    position: fixed;
    top: 85%;
    margin-left: -10px;
  }
  .card{
    width: 85%;
    margin-left: 20px;
  }
  .edit{
    margin-right: -15px;
  }
  .delete{
    margin-right: -15px;
  }
  .desc{
    margin-top: -1px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2em;
    height: 2.4em;
  }
  .mat-tab-label {
    min-width: 72px;
    margin: auto;
  }
  .buttondiv{
    width: 18%;
  }
  .p{
    margin-bottom: 5px;
  }
  .social_menu{
    margin-right: -15px;
  }
  .loader{
    margin-top: 250px;
  }
  .noData{
    font-size: larger;
    margin-top: 50%;
  }
}
@media (max-width: 599px) {
  .card{
    width: 85%;
    margin-left: 20px;
    margin-right: 20px;
  }
  .card1{
    width: 85%;
    margin-left: 20px;
    margin-right: 20px;
  }
  .mat-tab-label {
    min-width: 72px;
  }
  .social_menu{
    margin-right: -15px;
  }
  .loader{
    text-align: center;
    margin-top: 0px;
    position: relative;
    margin-right: 11px;
  }
  .noData{
    font-size: larger;
    margin-top: 50%;
  }
  .buttondiv{
    width: 18%;
  }
  .radiobox{
    margin-top: 2px;
    float: left;
    text-align: left;
    display: inline-grid;
    margin-left: 25px;
  }
  .checkpos{
    margin: 0px 10px 10px 10px;
  }
  .inputfield{
    width: 80%;
  }
  .slider{
    width: 70%;
  }
  .content{
    width: 95%;
    cursor: pointer;
  }
}
@media (max-width: 800px) {
  .buttondiv{
    width: 15%;
  }
}
