
<div>
  <h3 class="title" >Post Incoming</h3>
</div>
<form [formGroup]="flexyForm">
  <div>
    <div align="center">
      <p>
        <mat-form-field appearance="outline" class="inputfield">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name" [(ngModel)]="name" name="posi" formControlName="position">
          <mat-icon matSuffix></mat-icon>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline" class="inputfield">
          <mat-label>Amount</mat-label >
          <input matInput placeholder="Amount" [(ngModel)]="amount" name="sal" formControlName="org">
          <mat-icon matSuffix></mat-icon>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline" class="inputfield">
          <mat-label>Date</mat-label>
          <input matInput placeholder="Date" [(ngModel)]="create_date" value="{{create_date}}" name="sal" formControlName="salary">
          <mat-icon matSuffix></mat-icon>
        </mat-form-field>
      </p>

      <mat-checkbox  style=" margin: 0 5px;" value="after" *ngFor="let m of results">{{checkBoxData(m)}}{{boxmode}}</mat-checkbox>

      <!--<div class="dropdown">
        <mat-form-field class="gender" appearance="outline">
          <mat-select placeholder="Payment Mode" [(value)]="selectedMode" >
            <mat-option *ngFor="let Mode of modes" [value]="Mode.value" >
              {{ Mode.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        &lt;!&ndash;</mat-form-field>
        <mat-form-field class="urgency"  appearance="outline" >
          <mat-label>Time Peroid</mat-label>
          <input matInput placeholder="Time Peroid" [(ngModel)]="selectedPeriod" name="sal" formControlName="salary">
          <mat-icon matSuffix></mat-icon>
        </mat-form-field>&ndash;&gt;
      </div>-->

 <!--     <p >
      <mat-form-field appearance="outline" class="inputfield linkField">
        <mat-label>Post File Link</mat-label>
        <input matInput placeholder="Post File Link" [(ngModel)]="fileLink" name="sal" formControlName="salary">
        <mat-icon matSuffix></mat-icon>
      </mat-form-field>
      </p>
      <input type="file" class="uploder" (change)="handleSignInClick($event)">-->
    </div>
    <!--<a href="https://dl.dropboxusercontent.com/s/ejp2gsdou4fx5hb/advice.png" class="dropbox-saver"></a>-->
    <a id="dropButton"></a>
    <div align="center" style="margin-top: 30px">
      <button mat-button class="button" (click)="onSuccess()" [disabled]="flexyForm.invalid">Submit</button>
    </div>
  </div>
  <div align="center">
    <img class="loader" src="assets/images/loading.gif" alt="loading" *ngIf="loading">
  </div>
</form>
