
<div>
  <h3 class="title">Add Debit</h3>
</div>
<form [formGroup]="normalForm">
  <div>
    <div align="center">
      <p>
        <mat-form-field appearance="outline" class="inputfield">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name" [(ngModel)]="contact" formControlName="contactname">
          <mat-icon matSuffix></mat-icon>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field style="margin-top: 10px" appearance="outline" class="inputfield">
          <mat-label>Amount</mat-label>
          <input matInput placeholder="Amount" [(ngModel)]="amount" formControlName="amount">
          <mat-icon matSuffix></mat-icon>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline" class="inputfield">
          <mat-label>Comments</mat-label>
          <input matInput placeholder="Comments" [(ngModel)]="comments" name="posi" formControlName="comments">
          <mat-icon matSuffix></mat-icon>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field style="margin-top: 10px" appearance="outline" class="inputfield">
          <mat-label>Date</mat-label>
          <input matInput placeholder="Date" type="date" [(ngModel)]="create_date" value="{{create_date}}" name="sal" formControlName="date">
          <mat-icon matSuffix></mat-icon>
        </mat-form-field>
      </p>


      <div class="radiobox">
        <p>Payment Mode:</p>
        <mat-radio-group [(ngModel)]="modeID" formControlName="radio">
          <mat-radio-button class="checkpos" value="{{m.id}}" *ngFor="let m of mode_api_results"[value]=m.id >{{m.mode}}</mat-radio-button>
        </mat-radio-group>

      </div>

      <!--  <div class="dropdown">
          <mat-form-field class="gender" appearance="outline">
            <mat-select placeholder="Payment Mode" [(value)]="selectedMode" >
              <mat-option *ngFor="let Mode of modes" [value]="Mode.value" >
                {{ Mode.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>-->
      <!--<input type="file" class="uploder">-->
    </div>

    <div align="below"  class="submitbutton">
      <button mat-button class="button" (click)="onSuccess()" [disabled]="normalForm.invalid">Submit</button>
    </div>
  </div>
 <!-- <div align="center">
    <img class="loader" src="assets/images/loading.gif" alt="loading" *ngIf="loading">
  </div>-->
</form>
