<!--To view Transaction--->
<div align="center" *ngIf="isViewOnly">
  <p class="title">Transaction Details</p>
  <div align="center" class="example-containerview">
    <!--<img src="/assets/images/logs.png" class="logsBT">-->
    <mat-label style="font-style: italic">Name: {{name}}</mat-label> <br><br><br>
    <mat-label style="margin-top: 2px; font-style: italic">Amount: {{amount}}</mat-label><br><br><br>
    <mat-label style="margin-top: 2px; font-style: italic">Comment: {{comment}}</mat-label><br><br><br>
    <p style="margin-top: 2px; font-style: italic">Payment Mode: {{PaymentModeId}}</p>

    <button mat-button class="submit" (click)="onEdit()">Edit
      <mat-icon class="edit" aria-valuetext="Edit" (click)="onEdit()">edit</mat-icon>
    </button>

  </div>
  <div align="center">
    <img class="loader" src="assets/images/loading.gif" alt="loading" *ngIf="loading">
  </div>
</div>



<!--For Edit Transaction-->

<div align="center" *ngIf="isEditView" >
  <p class="title">Edit Transaction</p>
  <div align="center" class="example-container">

    <P>
      <mat-form-field appearance="outline" class="inputfield">
        <mat-label>Name</mat-label>
        <input matInput  value="{{name}}" [(ngModel)]="name">
        <mat-icon matSuffix></mat-icon>
      </mat-form-field>
    </P>
    <P>
      <mat-form-field appearance="outline" class="inputfield">
        <mat-label>Amount</mat-label>
        <input matInput value="{{amount}}" [(ngModel)]="amount">
        <mat-icon matSuffix></mat-icon>
      </mat-form-field>
    </P>
    <P>
      <mat-form-field appearance="outline" class="inputfield">
        <mat-label>Comment</mat-label>
        <input matInput  value="{{comment}}" [(ngModel)]="comment">
        <mat-icon matSuffix></mat-icon>
      </mat-form-field>
    </P>
    <div class="radiobox">
      <p>Payment Mode:</p>
     <!-- <mat-radio-group [(ngModel)]="PaymentModeId">
        <mat-radio-button class="checkpos" *ngFor="let m of mode_api_results" value={{m.mode}} [checked]="true">{{m.mode}}</mat-radio-button>

      </mat-radio-group>-->
      <mat-radio-group [(ngModel)]="PaymentModeId">
        <mat-radio-button class="checkpos" value="Cash" [checked]="true">Cash</mat-radio-button>
        <mat-radio-button class="checkpos" value="Account">Account</mat-radio-button>
        <mat-radio-button class="checkpos" value="Cheque">Cheque</mat-radio-button>
      </mat-radio-group>
    </div>

    <button mat-button class="submit" (click)="onSuccess()">Submit</button>
  </div>
  <div align="center">
    <img class="loader" src="assets/images/loading.gif" alt="loading" *ngIf="loading">
  </div>
</div>




















