<div align="center" >
  <p class="title">Post Status</p>
  <div align="center" class="example-container">
    <mat-icon class="edit" (click)="onEdit()">edit</mat-icon>
    <!--<img src="/assets/images/logs.png" class="logsBT">-->

    <P>
      <mat-form-field appearance="outline" class="inputfield">
        <mat-label>Name</mat-label>
        <input matInput [disabled]=isDisable value="{{name}}" [(ngModel)]="name">
        <mat-icon matSuffix></mat-icon>
      </mat-form-field>
    <P>
    <P>
      <mat-form-field appearance="outline" class="inputfield">
        <mat-label>Amount</mat-label>
        <input matInput [disabled]=isDisable value="{{amount}}" [(ngModel)]="amount">
        <mat-icon matSuffix></mat-icon>
      </mat-form-field>
    <P>
      <mat-form-field appearance="outline" class="inputfield">
        <mat-label>Comment</mat-label>
        <input matInput [disabled]=isDisable  value="{{comment}}" [(ngModel)]="comment">
        <mat-icon matSuffix></mat-icon>
      </mat-form-field>
    </P>
    <div class="radiobox">
      <p>Payment Mode:</p>
      <mat-radio-group [(ngModel)]="modeID" [ngModelOptions]="{standalone: true}">
        <mat-radio-button class="checkpos" *ngFor="let m of mode_api_results" [value]=m.id>{{m.mode}}</mat-radio-button>
      </mat-radio-group>
    </div>
    <button mat-button class="submit" *ngIf="isEdit" [disabled]=isDisable (click)="onSuccess()">Submit</button>
  </div>
  <div align="center">
    <img class="loader" src="assets/images/loading.gif" alt="loading" *ngIf="loading">
  </div>
  </div>




















