<mat-card class="card">
  <div align="center">
    <h1>The easiest way to track your money flow</h1>
    <div class="search_block" align="center">
      <div class="container">
        <a href="#family" class="box_wapper">
          Family / Homes </a>
        <a href="#individual" class="box_wapper" >
          Individual</a>
        <a href="#business" class="box_wapper" >
          Business / Corporate
        </a>
      </div>
    </div>
  </div>
</mat-card>

<section id="family">
<mat-card class="family_card" >
  <div align="center" class="family">
    <p style="color: #003253; font-weight: bold">Family / Homes</p>
    <hr>
  </div>
  <div class="column ">
    <img src="assets/images/calculator.png">
    <h4>Easy To Use</h4>
    <h6>Easy to use, Any member can use</h6>
  </div>
  <div class="column">
    <img src="assets/images/money-manage.png">
    <h4>Budget Management</h4>
    <h6>Easy to manage budget</h6>
  </div>
  <div class="column">
    <img src="assets/images/payment-method.png">
    <h4>Control Expenditure</h4>
    <h6>Easy to control your expenditure</h6>
  </div>
</mat-card>
</section>

<section id="individual">
<mat-card class="family_card">
  <div align="center" class="family">
    <p style="color: #003253; font-weight: bold">Individual</p>
    <hr>
  </div>
  <div >
    <div class="column ">
      <img src="assets/images/calculator.png">
      <h4>Easy To Use</h4>
      <h6>Easy to use, Anyone can use</h6>
    </div>
    <div class="column">
      <img src="assets/images/wallet.png">
      <h4>Pocket Management</h4>
      <h6>Easy to manage your personal finance and daily expenses</h6>
    </div>
    <div class="column">
      <img src="assets/images/piggy-bank.png">
      <h4>Save Money</h4>
      <h6>Easy to save money</h6>
    </div>
  </div>
</mat-card>
</section>

<section id="business">
<mat-card class="family_card">
  <div align="center" class="family">
    <p style="color: #003253; font-weight: bold">Business / Corporate</p>
    <hr>
  </div>
  <div >
    <div class="column ">
      <img src="assets/images/search.png">
      <h4>Track Money Flow</h4>
      <h6>Easy to track your transactions and balance your finances</h6>
    </div>
    <div class="column">
      <img src="assets/images/money.png">
      <h4>Money Management</h4>
      <h6>Easy to manage incoming and outgoing cash flow</h6>
    </div>
    <div class="column">
      <img src="assets/images/bars.png">
      <h4>Grow Business</h4>
      <h6>Easy to grow your business</h6>
    </div>
  </div>
</mat-card>
</section>

<div align="center">
<mat-card style="background-color: #f6f6f6">
  <h3 style="color: #555555;"> Call Us: +91 120 4545647</h3>
  <h5 style="color: #555555;">FOLLOW US</h5>
  <ul>
    <li><a href="https://www.facebook.com/vitarthaa" target="_blank"><i class="fa fa-facebook"></i>
      Facebook</a></li>
    <li><a href="https://twitter.com/vitartha" target="_blank"><i class="fa fa-twitter"></i> Twitter</a>
    </li>
    <li><a href="https://google.com/+Vitartha" target="_blank"><i class="fa fa-google-plus"></i>
      Google+</a></li>
  </ul>

</mat-card>
</div>


