
<div align="center" class="container">
  <div >
  </div>
  <div class="border">
  </div>
  <mat-card class="card">
    <div >
    </div>
    <div align="center">
      <h3 >Forgot Password</h3>
      <form [formGroup]="forgetForm">
        <P>
          <mat-form-field appearance="outline" class="inputfield">
            <mat-label>Email/Mobile</mat-label>
            <input  matInput placeholder="Email/Mobile" formControlName="email" [(ngModel)]="userInput" >
            <mat-error *ngIf="mail.invalid">{{getMailError()}}</mat-error>
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>
        </P>
        <div>
          <button mat-button class="button" [disabled]="forgetForm.invalid" (click)="getOtp()" (keyup.enter)="getOtp()">Submit</button>
        </div>
      </form>
    </div>
  </mat-card>
  <!--<div >
    <img class="loader" src="assets/images/loading.gif" alt="loading" *ngIf="loading">
  </div>-->
</div>
