.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}
h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}
.backArrow{
  cursor: pointer;
}
.navbar{
  width: 20%;
}
.profile{
  padding: 20px;
  background: #2d576b;
  margin-top: -8px;
  color: white;
  padding-bottom: 30px;
  font-family: arial;
  font-size: small;
  cursor: pointer;
}
.profile_fab{
  background-color: white;
  color: black;
}
.navmenu{
  margin-left: 20px;
  font-family: arial ;
  font-size: small;
}
.menuitem{
  padding: 5px;
}
h5{
  margin-left: -10px;
  margin-bottom: -7px;
  color: darkgrey;
  font-family: Arial, Helvetica, sans-serif;
}
.navmenu p:hover{
  color: #607D8B;
  background-color: #DDD;
  padding: 8px;
  cursor: pointer;
}
.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.profile p{
  margin-bottom: -10px;
}
ul {
  margin-bottom: 10px;
  margin-left: -15px;
  margin-top: 5px;
}
ul li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}
ul li a {
  border: solid 1px #c7c7c7;
  background-color: #003253;
  border-radius: 50px;
  width: 35px;
  height: 28px;
  display: block;
  text-align: center;
  font-size: 17px;
  padding-top: 6px;
}
.social_menu{
  position: absolute;
  bottom: 40px;
  width: 100%;
  margin-bottom: 10px;
}
.logout{
  position: absolute;
  bottom: 5px;
  width: 80%;
}
.contact{
  position: absolute;
  bottom: 0;
  margin-left: 15px;
  margin-right: 15px;
}
.text{
  margin-bottom: 5px;
}
.phone{
  margin-top: 5px;
}
.logo{
  width: 90%;
  text-align: right;
  cursor: pointer;
}
img{
  width: 78px;
  height: 40px;
}
.fa{
  margin-left: 8px;
  margin-right: 7px;
  z-index: 1;
}
.fa:hover {
  opacity: 0.5;
}
.socialdiv{
  z-index: 20;
  position: fixed;
  right: 10px;
  text-align: center;
  float: right
}
.ss{
  margin-top: 2%;
  padding: 10px;
  font-size: 25px;
  width: 25px;
  text-decoration: none;
  border-radius: 50%;
  margin-bottom: 5px;
}
.fb {
  background: #3B5998;
  color: white;
}

.tw {
  background: #55ACEE;
  color: white;
}

.gg {
  background: #dd4b39;
  color: white;
}

.ln {
  background: #007bb5;
  color: white;
}

.in {
  background: #125688;
  color: white;
}

.pn {
  background: #cb2027;
  color: white;
}
mat-form-field.mat-form-field {
  font-size: 14px;
}
.inputfield{
  margin-top: 15px;
}

.title{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #003253;
  height: 30px;
  margin-left: -24px;
  margin-right: -24px;
  margin-top: -30px;
  padding-top: 20px;
  margin-bottom: 20px;
  color: white;
  font-size: medium;
  font-weight: bold;
}
.filterdiv{
  text-align: center;
}
.card{
  width: 60%;
}
.search{
  width: 60%;
  margin-bottom: -10px;
}
.amount{
  margin-top: -10px;
  width: 30%;
  margin-bottom: -10px;
  margin-left: 4%;
}
.date{
  width: 40%;
  margin-bottom: -10px;
}
.min{
  width: 20%;
  margin-left: 4%;
}
.max{
  width: 20%;
}
.radiobox{
  line-height: normal;
  margin-top: 10px;
  margin-bottom: 10px;
}
.checkpos{
  margin: 0 5px;
}
.inline{
  display: inline;
  margin-left: 10px;
}
.in-line{
  display: inline;
}
.sorting{
  color: #003253;
  cursor: pointer;
  font-weight: bold;
}
.sort{
  font-size: 12px;
}
.sorting:hover{
  color: #1295c9;
}
select .sorting {
  color: #DA9403;
}
/*p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
  color: dimgray;
  margin-bottom: 5px;
}*/
mat-form-field.mat-form-field {
  font-size: 12px;
}

@media screen and (max-width: 1050px) {
  .navbar{
    width: 30%;
  }
  .social_menu{
    position: absolute;
    bottom: 30px;
    width: 100%;
    margin-left: -30px;
    margin-bottom: 10px;
  }
  li {
    list-style: none;
    display: inline-block;
  }
  ul {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 15px;
  }
  ul li a {
    border: solid 1px #c7c7c7;
    border-radius: 50px;
    width: 25px;
    height: 20px;
    display: block;
    text-align: center;
    font-size: 12px;
    padding-top: 5px;
    margin-right: -5px;
  }
}
@media screen and (max-width: 800px) {
  .navbar{
    width: 40%;
  }
  .social_menu{
    position: absolute;
    bottom: 30px;
    width: 100%;
    margin-left: -30px;
    margin-bottom: 10px;
  }
  li {
    list-style: none;
    display: inline-block;
  }
  ul {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 15px;
  }
  ul li a {
    border: solid 1px #c7c7c7;
    border-radius: 50px;
    width: 25px;
    height: 20px;
    display: block;
    text-align: center;
    font-size: 12px;
    padding-top: 5px;
    margin-right: -5px;
  }
}
@media screen and (max-width: 600px) {
  .navbar{
    width: 40%;
  }
  .social_menu{
    position: absolute;
    bottom: 30px;
    width: 100%;
    margin-left: -30px;
    margin-bottom: 10px;
  }
  li {
    list-style: none;
    display: inline-block;
  }
  ul {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 15px;
  }
  ul li a {
    border: solid 1px #c7c7c7;
    border-radius: 50px;
    width: 25px;
    height: 20px;
    display: block;
    text-align: center;
    font-size: 12px;
    padding-top: 5px;
    margin-right: -5px;
  }
}
@media screen and (max-width: 500px) {
  .navbar{
    width: 70%;
  }
  .social_menu{
    position: absolute;
    bottom: 30px;
    width: 100%;
    margin-left: -30px;
    margin-bottom: 10px;
  }
  li {
    list-style: none;
    display: inline-block;
  }
  ul {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 15px;
  }
  ul li a {
    border: solid 1px #c7c7c7;
    border-radius: 50px;
    width: 25px;
    height: 20px;
    display: block;
    text-align: center;
    font-size: 12px;
    padding-top: 5px;
    margin-right: -5px;
  }
  .card{
    width: 90%;
  }
  .radiobox{
    line-height: normal;
    margin-top: 0px;
    margin-bottom: 5px;
    text-align: left;
  }
  .checkpos{
    margin: 5px 5px 5px 5px;
    display: inherit;
  }
}
