<!--The content below is only a placeholder and can be replaced.-->
<!--c09d2dd6b22f45dc9e4afd4f466ab63a-->

<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">

  <mat-toolbar color="primary" class="example-toolbar" style="background:#2d576b">
    <button mat-icon-button (click)="snav.toggle()"  *ngIf="this.navbar.visible"><mat-icon>menu</mat-icon></button>
    <mat-icon class="backArrow" (click)="goback()" *ngIf="this.navbar.isShow" >keyboard_backspace</mat-icon>
    <h1 class="example-app-name" *ngIf="this.navbar.visible || isSearch " >{{title}}</h1>
    <h1 class="example-app-name" *ngIf="!this.navbar.visible">Hisab Kitab</h1>

    <div class="inline filter logo" align="right">
      <!--  <mat-form-field appearance="outline" class="inputfield" *ngIf="isSearch">
          <mat-label>Search name</mat-label>
          <input  matInput placeholder="Search name" name="email" type="search" [(ngModel)]="serach_query">
        </mat-form-field>
        <i class="fa fa-search" aria-hidden="true" (click)=" this.isSearch = !this.isSearch"></i>-->
      <i class="fa fa-filter" aria-hidden="true" (click)="isFilter = !isFilter"*ngIf="this.navbar.isSearch"></i>
      <i class="fa fa-share-alt" aria-hidden="true" (click)="isShare = !isShare" ng-blur="isShare = false"></i>
    </div>
    <!--    <div align="right" class="logo"> <img src="assets/images/hissab-kitab.png"></div>-->
  </mat-toolbar>
  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0" >

    <!--nav bar-->
    <!-- TODO: resolve the fixedToGap warning by IDE, if relevant -->
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'over'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" class="navbar">
      <!--nav menu-->
      <mat-nav-list (click)="snav.toggle()">
        <div>
          <div class="profile" align="center">
            <button mat-mini-fab class="profile_fab"><mat-icon>person</mat-icon></button>
            <p class="name">{{s_name}}</p>
            <p>{{s_mobile}}</p>
            <p>{{s_email}}</p>
          </div>
          <div class="navmenu">
            <p routerLink="/dashboard" class="menuitem" (click)="Reload()">Dashboard</p>
            <p routerLink="/credithistory" class="menuitem">Credit History</p>
            <p routerLink="/debithistory" class="menuitem">Debit History</p>
            <p (click)="openFeedback()" class="menuitem">Feedback</p>
            <div (click)="onLogout()">
              <p class="menuitem logout">Logout</p>
            </div>
          </div>
          <div class="social_menu">
            <mat-divider></mat-divider>
            <ul>
              <li><p>Share On: </p></li><br>
              <li><a href="http://www.facebook.com/sharer.php?u=https://hisabkitab.in/" title="Facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true" style="color: white"></i></a></li>
              <li><a href="http://twitter.com/share?text=Hisab-Kitab&url=https://hisabkitab.in" title="Twitter" target="_blank"><i class="fa fa-twitter" aria-hidden="true" style="color: white"></i></a></li>
              <li><a href="http://plus.google.com/share?url=https://hisabkitab.in" title="Google+" target="_blank"><i class="fa fa-google" aria-hidden="true" style="color: white"></i></a></li>
              <li><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://hisabkitab.in&amp;
               &amp;source=Hisab Kitab" title="linkedin" target="_blank"><i class="fa fa-linkedin" aria-hidden="true" style="color: white"></i></a></li>
            </ul>
          </div>
        </div>
      </mat-nav-list>
    </mat-sidenav>
    <!--Filter &  share card part-->
    <mat-sidenav-content>
      <!--Share Option-->
      <div  class="socialdiv" *ngIf="isShare">
        <a href="http://www.facebook.com/sharer.php?u=https://hisabkitab.in/" title="Facebook" target="_blank"> <i class="fa fa-facebook ss fb" aria-hidden="true"></i></a><br>
        <a href="http://plus.google.com/share?url=https://hisabkitab.in" title="Google+" target="_blank"><i class="fa fa-google ss gg" aria-hidden="true"></i></a><br>
        <a href="http://twitter.com/share?text=Hisab-Kitab&url=https://hisabkitab.in" title="Twitter" target="_blank"><i class="fa fa-twitter ss tw" aria-hidden="true"></i></a><br>
        <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://hisabkitab.in&amp;&amp;source=Hisab Kitab" title="linkedin" target="_blank"><i class="fa fa-linkedin ss ln" aria-hidden="true"></i></a><br>
        <i class="fa fa-instagram ss in" aria-hidden="true"></i><br>
        <i class="fa fa-pinterest ss pn" aria-hidden="true"></i>
      </div>
      <!--Filter Card-->
      <div align="center" *ngIf="isFilter" class="filterDiv">
        <mat-card class="card">
          <div align="center"><h3 class="title" >Filter</h3></div>
          <form [formGroup]="Filterform" novalidate>
            <div align="center" >
              <div>
                <mat-form-field appearance="outline" class="search">
                  <mat-label>Search by name</mat-label>
                  <input  matInput placeholder="Search name" name="email" type="search" [(ngModel)]="search_query" formControlName="Fname">
                  <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline" class="amount">
                  <mat-label>By amount</mat-label>
                  <input  matInput placeholder="Amount" name="email" type="search" [(ngModel)]="filter_amount" formControlName="FAmount">
                </mat-form-field>
                <p style="margin-top: -15px; margin-bottom: -10px" class="in-line">
                  <mat-form-field  style="margin-top: 10px" appearance="outline" class="date">
                    <mat-label>Search by date</mat-label>
                    <input matInput placeholder="Date" [(ngModel)]="create_date" type="date" formControlName="Fdate">
                  </mat-form-field>
                </p>
                <div class="in-line">
                  <mat-form-field appearance="outline" class="min">
                    <mat-label>Min</mat-label>
                    <input  matInput placeholder="Min" name="email" type="search" [(ngModel)]="min_amount" formControlName="FMinAmt">
                  </mat-form-field> -
                  <mat-form-field appearance="outline" class="max">
                    <mat-label>Max</mat-label>
                    <input  matInput placeholder="Max" name="email" type="search" [(ngModel)]="max_amount" formControlName="FMaxAmt">
                  </mat-form-field>
                </div>
                <!--<div class="radiobox">
                  <mat-radio-group [(ngModel)]="modeID" [ngModelOptions]="{standalone: true}">
                    <mat-radio-button class="checkpos" *ngFor="let m of mode_api_results" [value]=m.id>{{m.mode}}</mat-radio-button>
                  </mat-radio-group
                </div>-->
                <div class="radiobox">
                  <mat-checkbox class="checkpos" [ngModel]="" *ngFor="let m of mode_api_results">{{m.mode}}</mat-checkbox>
                </div>
                <div align="center">
                  <p class="inline sort">Sort By Price:</p><p class="inline sorting sort" (click)="price_sort= '+'">Low-High</p><p class="inline sorting sort" (click)="price_sort = '-'">High-Low</p><br>
                  <p class="inline sort">Sort By Name:</p><p class="inline sorting sort" (click)="name_sort = '+'">A-Z</p><p class="inline sorting sort" (click)="name_sort = '-'">Z-A</p></div>
                <button mat-button (click)="getFilter()" style="margin-top: 10px; background-color: #DA9403; color: white">Filter</button>
              </div>
            </div>
          </form>
        </mat-card>
      </div>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

