<!--The content below is only a placeholder and can be replaced.-->
<!--c09d2dd6b22f45dc9e4afd4f466ab63a-->

<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" >

  <mat-toolbar color="primary" class="example-toolbar" style="background: #1295c9">
    <button mat-icon-button (click)="snav.toggle()"  *ngIf="this.navbar.visible"><mat-icon>menu</mat-icon></button>
    <mat-icon class="backArrow" (click)="this.location.back()" *ngIf="this.navbar.isShow" >keyboard_backspace</mat-icon>
    <h1 class="example-app-name" *ngIf="this.navbar.visible || isSearch " >{{title}}</h1>
    <h1 class="example-app-name" *ngIf="!this.navbar.visible">Hisab Kitab</h1>

    <div class="inline filter logo" align="right" *ngIf="this.navbar.isSearch" >
    <!--  <mat-form-field appearance="outline" class="inputfield" *ngIf="isSearch">
        <mat-label>Search name</mat-label>
        <input  matInput placeholder="Search name" name="email" type="search" [(ngModel)]="serach_query">
      </mat-form-field>
      <i class="fa fa-search" aria-hidden="true" (click)=" this.isSearch = !this.isSearch"></i>-->
      <i class="fa fa-filter" aria-hidden="true" (click)="openFilter()" ></i>
    </div>
<!--    <div align="right" class="logo"> <img src="assets/images/hissab-kitab.png"></div>-->
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">

    <!--nav bar-->
    <!-- TODO: resolve the fixedToGap warning by IDE, if relevant -->
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'over'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" class="navbar">
      <!--nav menu-->
      <mat-nav-list (click)="snav.toggle()">
        <div>
          <div class="profile" align="center">
            <button mat-mini-fab class="profile_fab"><mat-icon>person</mat-icon></button>
            <p class="name">{{s_name}}</p>
            <p>{{s_mobile}}</p>
            <p>{{s_email}}</p>
          </div>
          <div class="navmenu">
            <p routerLink="/dashboard" class="menuitem">Dashboard</p>
            <p routerLink="/credithistory" class="menuitem">Credit History</p>
            <p routerLink="/debithistory" class="menuitem">Debit History</p>
            <p (click)="openFeedback()" class="menuitem">Feedback</p>
            <div (click)="onLogout()">
              <p class="menuitem logout">Logout</p>
            </div>
          </div>
          <div class="social_menu">
            <mat-divider></mat-divider>
            <ul>
              <li><p>Share On: </p></li><br>
              <li><a href="http://www.facebook.com/sharer.php?u=https://hisabkitab.in/" title="Facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true" style="color: white"></i></a></li>
              <li><a href="http://twitter.com/share?text=Hisab-Kitab&url=https://hisabkitab.in" title="Twitter" target="_blank"><i class="fa fa-twitter" aria-hidden="true" style="color: white"></i></a></li>
              <li><a href="http://plus.google.com/share?url=https://hisabkitab.in" title="Google+" target="_blank"><i class="fa fa-google" aria-hidden="true" style="color: white"></i></a></li>
              <li><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://hisabkitab.in&amp;
               &amp;source=Hisab Kitab" title="linkedin" target="_blank"><i class="fa fa-linkedin" aria-hidden="true" style="color: white"></i></a></li>
            </ul>
            </div>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <!--rest part-->
    <mat-sidenav-content>
      <router-outlet ></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

