<!--The content below is only a placeholder and can be replaced.-->
<!--c09d2dd6b22f45dc9e4afd4f466ab63a-->

<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" >

  <mat-toolbar color="primary" class="example-toolbar" style="background: #1295c9">
    <button mat-icon-button (click)="snav.toggle()"  *ngIf="this.navbar.visible"><mat-icon>menu</mat-icon></button>
    <mat-icon class="backArrow" (click)="this.location.back()" *ngIf="this.navbar.isShow" >keyboard_backspace</mat-icon>
    <h1 class="example-app-name" *ngIf="this.navbar.visible" >{{title}}</h1>
    <h1 class="example-app-name" *ngIf="!this.navbar.visible">Hisab Kitab</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">

    <!--nav bar-->
    <!-- TODO: resolve the fixedToGap warning by IDE, if relevant -->
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'over'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" class="navbar">
      <!--nav menu-->
      <mat-nav-list (click)="snav.toggle()">
        <div>
          <div class="profile" routerLink="/profile" align="center">
            <button mat-mini-fab class="profile_fab"><mat-icon>person</mat-icon></button>
            <p class="name">{{s_name}}</p>
            <p>{{s_mobile}}</p>
            <p>{{s_email}}</p>
          </div>
          <div class="navmenu">
            <p routerLink="/credithistory" class="menuitem">Credit History</p>
            <p routerLink="/debithistory" class="menuitem">Debit History</p>
            <div (click)="onLogout()">
              <p class="menuitem logout" >Logout</p>
            </div>
          </div>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <!--rest part-->
    <mat-sidenav-content>
      <router-outlet ></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

