<div>
  <h3 class="title" >Add Credit</h3>
</div>
<form [formGroup]="hisabkitabForm">
  <div>
    <div align="center">
      <p>
        <mat-form-field appearance="outline" class="inputfield">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name" [(ngModel)]="contact" name="posi" formControlName="contactname">
          <mat-icon matSuffix></mat-icon>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field style="margin-top: 10px" appearance="outline" class="inputfield">
          <mat-label>Amount</mat-label >
          <input matInput placeholder="Amount" [(ngModel)]="amount" name="sal" formControlName="amount">
          <mat-icon matSuffix></mat-icon>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field  style="margin-top: 10px" appearance="outline" class="inputfield">
          <mat-label>Date</mat-label>
          <input matInput placeholder="Date" [(ngModel)]="create_date" value="{{create_date}}" name="sal" formControlName="date" type="date" >
          <mat-icon matSuffix></mat-icon>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline" class="inputfield">
          <mat-label>Comments</mat-label>
          <input matInput placeholder="Comments" [(ngModel)]="comments" name="posi" formControlName="comments">
          <mat-icon matSuffix></mat-icon>
        </mat-form-field>
      </p>
      <div class="radiobox">
        <p>Payment Mode:</p>
        <mat-radio-group [(ngModel)]="modeID" formControlName="radio">
          <mat-radio-button  style="padding-left: 1px" class="checkpos" *ngFor="let m of mode_api_results" name="gender" [value]=m.id >{{m.mode}}</mat-radio-button>
        </mat-radio-group>
      </div>

    </div>
    <a id="dropButton"></a>
    <div align="center" class="submitbutton">
      <button mat-button class="button" (click)="onSuccess()" [disabled]="hisabkitabForm.invalid">Submit</button>
    </div>
  </div>
  <div align="center">
    <img class="loader" src="assets/images/loading.gif" alt="loading" *ngIf="loading">
  </div>
</form>
